<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/forms.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <h1 class="head">Colindale Legend</h1>
                <% if (errorMessage) { %>
                    <div class="user-message user-message--error">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                        <% if (message) { %>
                            <div class="user-message ">
                                <%= message %>
                            </div>
                            <% } %>
                                <form class="login-form" action="/login" method="POST">
                                    <div class="form-control">
                                        <label for="email">E-Mail</label>
                                        <input type="email" name="email" id="email" value="<%= oldInput.email %>">
                                    </div>
                                    <div class="form-control">
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password"
                                            value="<%= oldInput.password %>">
                                    </div>

                                    <button class="btn" type="submit">Login</button>
                                    <a href="/reset" class="btn right">Forget Password?</a>
                                </form>

            </main>

            <%- include('../includes/end.ejs') %>